body {
  margin: 30px;
  font-family: "Poppins", sans-serif;
  color: white;
  background-image: linear-gradient(#7772a1, #0e093d, #7772a1);
  background-attachment: fixed;
}
#flex {
  display: flex;
  margin: 30px;
  border: 3px solid #0e093d;
  padding: 30px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16),
    0 4px 6px rgba(241, 238, 238, 0.45);
  background-color: #0e093d;
}
a {
  text-decoration: none;
  color: white;
}
#credential:hover {
  text-decoration: underline;
}
button {
  background-color: #0e093d;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
}
button:hover {
  background-color: #7772a1;
  border: 2px solid #0e093d;
}
li {
  font-weight: bold;
}
img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid #0e093d;
  padding: 10px;
  text-align: center;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16),
    0 4px 6px rgba(241, 238, 238, 0.45);
  background-color: #0e093d;
}
